body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 0 transparent white;
    border-radius: 15px;
}

.card-img img{
    width: 100%;
    display: inline-block;
    border-top: 0 transparent white;
    border-radius: 15px 15px 0 0;
    margin-bottom: 1.5rem;
}

.card-title {
    font-size: 2rem;
    font-weight: 900;
}

.card-text {
    font-size: 16px;
    color: gray;
    margin: 1.5rem 2rem;
}

.card-price {
    border: 0 transparent white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 1rem;
    background-color: hsl(225, 100%, 98%);
}

.card-price-text {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.card-price-text #price {
    color: gray;
}

.card-price-link {
    display: flex;
    justify-content: end;
    align-items: center;
}

button {
    color: white;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 1rem 3rem;
}
